<section>
    {{#each this}}
    <div class='row p-3 comment-container'>
        <div class='col-md-8 p-3 mx-auto'>
            <h5 class='comment-text pt-2 text-left'>{{this.text}}</h5>
            <p class='pt-2 text-left comment-author' id='comment-name'>By {{this.user.name}} on {{format_date date_created}}</p>
        </div>
    </div>
    {{/each}}
</section>