<div class='row'>
    <div class='col-md-6 text-white p-3'>
        <h2>Login</h2>

        <form class='form login-form'>
            <div class='form-group'>
                <label for='email-login'>Email: </label>
                <br>
                <input class='form-input' type='text' id='email-login' placeholder='Enter a valid email address...' />
            </div>

            <div class='form-group'>
                <label for='pass-login'>Password: </label>
                <input class='form-input' type='password' id='pass-login' placeholder='Enter your password...' />
            </div>

            <div class='form-group'>
                <button class='btn btn-success' type='submit'>Login</button>
            </div>
        </form>

        <h6>No account? No problem!
        <br>
            <a id='signupLink' href='/signup'>Signup here</a>
        </h6>
    </div>
</div>

<script src='../public/js/login.js'></script>