/* Shared CSS */
a {
    color: #88d9e6;
}

a:hover {
    text-decoration: none;
    color: #f2545b;
}

textarea {
    width: 80%;
    height: auto;
}

.center {
    text-align: center;
}

.brand {
    color: #88d9e6;
    font-weight: bold;
    font-size: large;
}

.nav-bg {
    background-color: #1c1c1c;
}

.nav-link {
    color: #88d9e6 !important;
}

.nav-link:hover {
    text-decoration: none !important;
    color: #f2545b !important;
}

/* Home Page */
.post-container {
    background-color: #1c1c1c;
    border-radius: 10px;
}

.title-text {
    color: #88d9e6;
}

.author-text {
    color: #8b8bae;
}

.post-text {
    color: #c5fffd;
}

.logout-btn {
    background-color: #f2545b;
}

.logout-btn:hover {
    background-color: #88d9e6;
}

/* Login Page */
.login-container {
    background-color: #1c1c1c;
    margin-bottom: 10%;
    border-radius: 10px;
}

.login-header {
    color: #88d9e6;
}

.input-title {
    color: #8b8bae;
}

.signup-text {
    color: #c5fffd;
}

.login-btn {
    background-color: #88d9e6;
}

.login-btn:hover {
    background-color: #f2545b;
}

/* Signup Page */
.signup-container {
    background-color: #1c1c1c;
    margin-bottom: 10%;
    border-radius: 10px;
}

.signup-header {
    color: #88d9e6;
}

/* Profile Page */
.profile-container {
    background-color: #1c1c1c;
    margin-bottom: 10%;
    border-radius: 10px;
}

.profile-header {
    color: #88d9e6;
}

.delete-btn {
    background-color: #f2545b;
}

.delete-btn:hover {
    background-color: #88d9e6;
}

/* p {
    color: black;
} */

h1, h2, h3, h4, h5, h6 {
    color: black;
}

label {
    color: black;
}

input {
    width: 80%;
}

input::placeholder {
    color: gray;
}